// Color
$black: #2B2B2B;
$white: #FFFFFF;
$green: #8DC540;
$red: #E54D4D;
$dark-green: #006400;
$bank-blue: #00417B;
$main-background-color: #EDEFF1;

$color-status-ok: #81C624;
$color-status-error: #E54D4D;


// Gradient
$header-linear-gradient: linear-gradient(90deg, #00417B 0%, #237CB1 50.26%, #2580B2 52.72%, #46D2CC 100%);
$header-sublist-linear-gradient: linear-gradient(90deg, #00417B 0%, #237CB1 50.26%, #2580B2 100%);
